.home {
  width: 100%;
}

.btn-start {
  background-color: rgba(255, 0, 0, 0.8);
  border-radius: 5px;
  color: aliceblue !important;
}

.flex-column {
  display: flex;
  flex-direction: column;
}

.text-center {
  text-align: center;
}

.margin-left-40px {
  margin-left: 80px !important;
}

.high-text {
  color: rgba(255, 0, 0, 0.8);
  font-weight: bolder;
}
